@tailwind base;
@tailwind components;
@tailwind utilities;


.FuturaMed {
  font-family: "futura-pt";
  font-weight: 500;
  font-style: normal;
}

.FuturaHeavy {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'FuturaPTHeavy';
  src: url('../Assets/Fonts/FuturaPTHeavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url('../Assets/Fonts/FuturaPTMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



.NavBG {
  background-color: rgba(224, 224, 224, .55);
}

